html {
    height: 100%;
}
body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    background-image: linear-gradient(-25deg, #b5179e, #3a0ca3, #4361ee);
    align-items: center;
    justify-content: flex-end;
}
header {
    width: 100%;
}
h1 {
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #f72585, #b5179e,  #4cc9f0);
    font-family: 'impact', sans-serif;
    font-size: 50px;
}
.sidebar {
    margin: 10px;
    background-color: #b5179e;
    border-radius: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h2 {
    padding: 10px;
    color: #3A0ca3;
    font-family: 'impact', sans-serif;
}
#city {
    padding: 10px;
    width: 80%;
    background-color: #4cc9f0;
    margin: 5px 0;
    border-radius: 5px;

}
#search {
    padding: 10px;
    width: 88%;
    color: #3a0ca3;
    background-color: #4361ee;
    border-radius: 5px;
    margin: 5px 0;
    font-family: 'impact', sans-serif;
}
#forecast{
    background-color: #3f37c9;
    width: 75%;
    float: right;
    margin: 10px;
    border-radius: 10px;
}
.forecast-city {
    text-align: center;
    font-size: 40px;
    font-family: 'impact', sans-serif;
    color: #4895ef;
}
.forecast-icon {
    font-size: 150px;
    color: #4cc9f0;
    width: 50%;
    text-align: center;
}
.weather-data{
    width: 50%;
    float: right;
}
p{
    color: #4895ef;
    font-size: 20px;
    font-family: 'impact', sans-serif;
}
span {
    padding: 5px 10px;
    border-radius: 2.5px;
    color: #3a0ca3;
}
.fair{
    background-color: #4cc9f0;
}
.good{
    background-color: #4895ef;
}
.moderate{
    background-color: #7209b7;
}
.bad{
    background-color: #b5179e;
}
.severe{
    background-color: #f72585;
}
.five-day {
    width: 75%;
    display: flex;
    justify-content: space-around;
}
.card {
    width: 15%;
    background-color: #3a0ca3;
    color: #f72585;
    border-radius: 10px;
    padding: 0 10px;
    font-family: 'impact', sans-serif;
}
.card-icon {
    font-size: 37px;
}
.card-data {
    color: #f72585;
    font-size: 15px;
    font-family: 'impact', sans-serif;
}
.history {
    border-top:#3a0ca3 solid 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.historical-button{
    padding: 10px;
    width: 88%;
    color:#f72585 ;
    background-color:#3a0ca3 ;
    border-radius: 5px;
    margin: 5px 0;
    font-family: 'impact', sans-serif;
}

@media screen and (max-width: 980px) {
    body {
        justify-content: center;
        background-image: linear-gradient(90deg, #7209b7, #3a0ca3, #4361ee);


    }
    .sidebar{
        width: 100%;
        justify-content: space-around;
    }
    #city{
        width: 30%;
    }
    h2 {
        width: 30%;
        margin: 0;
        text-align: center;
    }
    #search {
        width: 30%;
    }
    .historical-button {
        width: 30%;
    }

}

@media screen and (max-width: 768px) {
    .five-day {
        flex-wrap: wrap;
    }
    .card {
        width: 25%;
    }
    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .forecast-icon {
        font-size: 100px;
    }
    .card h3 {
        font-size: 14px;
        font-weight: 200;
    }
}